<meta charset="UTF-8">
<title>{{ site.name }}</title>
<meta name="viewport" content="width=device-width, initial-scale = 1">
<meta name="author" content="{{ site.author }}">
<link rel="stylesheet" href="css/main.css">
<link href='https://fonts.googleapis.com/css?family=Source+Code+Pro:500,600' rel='stylesheet' type='text/css'>
<script src='https://www.gstatic.com/firebasejs/3.6.2/firebase.js'></script>
<script>
  // Initialize Firebase
  // TODO: Replace with your project's customized code snippet
  var config = {
	apiKey: "AIzaSyCQ0KCcOfMj2K2GeBVrMvZZREGe2cVmDCE",
	authDomain: "mechwiki-9ab20.firebaseapp.com",
	databaseURL: "https://mechwiki-9ab20.firebaseio.com",
	storageBucket: "mechwiki-9ab20.appspot.com",
	messagingSenderId: "600216346626"
  };
  firebase.initializeApp(config);
</script>
