body{
    font:{
        family: $roboto;
        weight: $light;
        size: 22px;
    }
    line-height: 1.4;
    background: $white;
    color: $black;
}

/*the search bar*/
#myInput {
	background-image: url('https://cdn1.iconfinder.com/data/icons/hawcons/32/698627-icon-111-search-128.png');
	background-position: 10px 10px;
	background-repeat: no-repeat;
	background-size:30px 30px;
	width: 240.4px;
	font-size: 16px;
	padding: 12px 20px 12px 40px;
	border: 1px solid #ddd;
	margin-bottom: 12px;
}

/*Menu Icon */
#menu {
    display: inline-block;
    cursor: pointer;
	position:fixed;
	z-index:10; 
	top:15px;
	left:15px;
}
.menu {

    cursor: pointer;

}

/*Menu tool tip*/
.menutooltip {
	font-size:14px;
    visibility: hidden;
    width: 120px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
}

.menutooltip{
	position: absolute;
    z-index: 1;
}

.menu:hover .menutooltip {
    visibility: visible;
}	

/*Animation*/
/* Rotate first bar */
.change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px) ;
    transform: rotate(-45deg) translate(-9px, 6px) ;
}

/* Fade out the second bar */
.change .bar2 {
    opacity: 0;
}

/* Rotate last bar */
.change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px) ;
    transform: rotate(45deg) translate(-8px, -8px) ;
}

.bar1:hover, .bar2:hover, .bar3:hover {
    color:#FFFFFF;
}

.bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
}

/*normal css*/

.container{
    width: 100%;
    margin: auto;
}

.wrapper {
	margin: auto;
	max-width: 1500px;	
}

.overview{
    width: 320px;
    font-size: 18px;
	float:left;
}

.button{
	position:fixed;
		
}

.content{
    counter-reset: h1-counter;
    max-width: 1000px;
	float:left;
	margin-left:320px;
    /*@media screen and (max-width: $sidebar-collapse){
        width: 100%;
    }*/
	

    /*.toggle{
        position: absolute;
        top: 5px;
        left: 5px;
    }*/
}

section{

    &:last-of-type{
        padding-bottom: 300px;
    }

    > p,
    > ul,
    > ol,
    > div{
        text-align: justify;
        padding-left: 5%;
        padding-right: 5%;
        box-sizing: border-box;
    }

    pre {
        margin-left: 5%;
        margin-right: 5%;
    }
    > ol{
        padding-left: calc(5% + 40px);
    }
}

h1, h2, h3, h4, h5, h6{
    text-transform: uppercase;
    font-weight: $bold;
    line-height: 1;
    color: $green;
}

h1 {
    font-size: 3.1em;
    padding: 30px 0 0;
    text-align: right;
    border-bottom: $green 9px solid;
    width: 100%;
    line-height: 0.704;
    margin: 0 0 20px;

    &:before {
        content: counter(h1-counter) " ";
    }
}

.h1{
    counter-increment: h1-counter;
    counter-reset: h2-counter;
    padding-top: 80px;
}

h2 {
    font-size: 2em;
    padding: 30px 0 0;
    width: 90%;
    text-align: center;
    border-bottom: 5px solid $green;
    margin: 0 auto 20px;
    line-height: 0.724;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) " ";
    }
}

.h2{
    counter-increment: h2-counter;
    counter-reset: h3-counter;
    padding-top: 60px;
}


h3{
    font-size: 1.7em;
    padding: 20px 0 0;
    width: 90%;
    text-align: left;
    border-bottom: 4px solid $green;
    margin: 0 auto 20px;
    line-height: 0.744;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) " ";
    }
}

.h3{
    counter-increment: h3-counter;
    counter-reset: h4-counter;
    padding-top: 40px;
}

h4{
    font-size: 1.5em;
    padding: 18px 0 0;
    width: 90%;
    text-align: left;
    border-bottom: 3px solid $green;
    margin: 0 auto 18px;
    line-height: 0.764;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) " ";
    }
}

.h4{
    counter-increment: h4-counter;
    counter-reset: h5-counter 1;
    padding-top: 30px;
}


h5{
    font-size: 1.3em;
    padding: 40px 0 0;
    width: 90%;
    text-align: left;
    border-bottom: 2px solid $green;
    margin: 0 auto 15px;
    line-height: 0.68;

    &:before {
        content: counter(h1-counter) "." counter(h2-counter) "." counter(h3-counter) "." counter(h4-counter) "." counter(h5-counter) " ";
    }
}


a{
    transition: .3s all;
    color: $green;
    text-decoration: none;

    .content &{
        border-bottom: $darkgreen 1px solid;
        padding: 0px 2px;

        &:hover{
            border-bottom: transparent 1px solid;
        }
    }

    &:hover{
        color: $darkgreen;
    }
}


img{
    display: block;
    max-width: 100%;
    margin: 20px 0;
}

code{
    font-family: 'Source Code Pro', 'Courier New', monospace;
}

.video_container{
    margin: 30px auto;
    @include paddinghack(90%, 894, 510);

    iframe{
        @extend %paddinghack;
    }
}

#intro{
    padding-top: 20px;
}

code,
pre{
    white-space: pre-wrap;
    border-radius: 0px;
    border: 0;
}

iframe{
    padding-left: 5%;
    padding-right: 5%;
    box-sizing: border-box;
    width: 100%;
}

p + p{
    margin-top: 20px;
}

/*tables*/
table {
    border-collapse: collapse;
	margin: 0px auto;
	width: 90%;
}
td{
	text-align:center; 
    vertical-align:middle;
}
table, th, td {
    padding: 4px;
	border: 1px solid black;
}
th {
    background-color: #1D84B9;
    color: white;
}

select{
	font-size:90%;	
}
input{
	font-size:90%;	
}
button{
	font-size:80%;
}

.no-js #loader { display: none;  }
.js #loader { display: block; position: absolute; left: 100px; top: 0; }
.se-pre-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background: url(images/loader-64x/Preloader_2.gif) center no-repeat #fff;
}

